@import "tailwindcss";

:root {
  --background: #ffffff;
  --black: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-black: var(--black);
  --color-yellow: #FFC453;
  --color-white: #ffffff;
  --color-red: #E61F10;
  --color-gray-1: #B4B4B4;
  --color-gray-2: #797979;
  --color-gray-3: #ACACAC;
  --color-gray-4: #525252;
  --color-gray-5: #DAD8D8;
  --color-gray-6: #858484;
  --color-gray-7: #E0E0E0;
}

body {
  background: var(--background);
  color: var(--black);
  font-family: Arial, Helvetica, sans-serif;
}

.shadow-1 {
  box-shadow: 0px 3px 7px -1px #2222221A;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.rotate {
  animation: rotate 1s linear infinite;
}